    /*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

    @import url('//fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
    @import url('//fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:500&display=swap');

    *,
    ::after,
    ::before {
      box-sizing: border-box
    }

    :root {
      -moz-tab-size: 4;
      tab-size: 4
    }

    html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%
    }

    body {
      margin: 0
    }

    body {
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
    }

    hr {
      height: 0;
      color: inherit
    }

    abbr[title] {
      -webkit-text-decoration: underline dotted;
      text-decoration: underline dotted
    }

    b,
    strong {
      font-weight: bolder
    }

    code,
    kbd,
    pre,
    samp {
      font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
      font-size: 1em
    }

    small {
      font-size: 80%
    }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline
    }

    sub {
      bottom: -.25em
    }

    sup {
      top: -.5em
    }

    table {
      text-indent: 0;
      border-color: inherit
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0
    }

    button,
    select {
      text-transform: none
    }

    [type=button],
    [type=reset],
    [type=submit],
    button {
      -webkit-appearance: button
    }

    ::-moz-focus-inner {
      border-style: none;
      padding: 0
    }

    :-moz-focusring {
      outline: 1px dotted
    }

    :-moz-ui-invalid {
      box-shadow: none
    }

    legend {
      padding: 0
    }

    progress {
      vertical-align: baseline
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      height: auto
    }

    [type=search] {
      -webkit-appearance: textfield;
      outline-offset: -2px
    }

    ::-webkit-search-decoration {
      -webkit-appearance: none
    }

    ::-webkit-file-upload-button {
      -webkit-appearance: button;
      font: inherit
    }

    summary {
      display: list-item
    }

    blockquote,
    dd,
    dl,
    figure,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    pre {
      margin: 0
    }

    button {
      background-color: transparent;
      background-image: none
    }

    button:focus {
      outline: 1px dotted;
      outline: 5px auto -webkit-focus-ring-color
    }

    fieldset {
      margin: 0;
      padding: 0
    }

    ol,
    ul {
      list-style: none;
      margin: 0;
      padding: 0
    }

    html {
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      line-height: 1.5
    }

    body {
      font-family: inherit;
      line-height: inherit
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: #e5e7eb
    }

    hr {
      border-top-width: 1px
    }

    img {
      border-style: solid
    }

    textarea {
      resize: vertical
    }

    input::placeholder,
    textarea::placeholder {
      color: #9ca3af
    }

    [role=button],
    button {
      cursor: pointer
    }

    table {
      border-collapse: collapse
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit
    }

    a {
      color: inherit;
      text-decoration: inherit
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      padding: 0;
      line-height: inherit;
      color: inherit
    }

    code,
    kbd,
    pre,
    samp {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
    }

    audio,
    canvas,
    embed,
    iframe,
    img,
    object,
    svg,
    video {
      display: block;
      vertical-align: middle
    }

    img,
    video {
      max-width: 100%;
      height: auto
    }

    body {
        font-family: Rubik, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, system-ui, sans-serif;
        --tw-bg-opacity: 1;
        background-color: rgba(51, 64.175, 76.5, var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgba(201.756, 209.1, 216.444, var(--tw-text-opacity));
        letter-spacing: 0.015em;
      }
    
      .kDhnAT {
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }
    
      @media screen and (min-width: 48em) {
        .duHJKB {
          padding: 2.5rem;
        }
      }
    
      @media screen and (min-width: 36em) {
        .duHJKB {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    
      @media screen and (min-width: 75em) {
        .duHJKB {
          width: 100%;
          max-width: 700px;
        }
      }
    
      @media screen and (min-width: 75em) {
        .duHJKB {
          width: 100%;
          max-width: 700px;
        }
      }
    
      @media screen and (min-width: 48em) {
        .duHJKB {
          padding: 2.5rem;
        }
      }
    
      @media screen and (min-width: 36em) {
        .duHJKB {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    
      .emoCVo {
        font-size: 1.875rem;
        line-height: 2.25rem;
        text-align: center;
        --tw-text-opacity: 1;
        color: rgba(228.608, 231.591, 235.493, var(--tw-text-opacity));
        font-weight: 500;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 500;
        letter-spacing: 0em;
        font-family: "IBM Plex Sans", Roboto, system-ui, sans-serif;
      }
    
      blockquote,
      dd,
      dl,
      figure,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      hr,
      p,
      pre {
        margin: 0;
      }
    
      .ctVkDO {
        width: 100%;
        display: flex;
      }
    
      form {
        margin: 0px;
      }
    
      @media (min-width: 768px) {
        .jbDTOK {
          display: flex;
          padding-left: 0px;
        }
      }
    
      .jbDTOK {
        width: 100%;
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    
      @media (min-width: 768px) {
        .drrdV {
          margin-bottom: 0px;
        }
      }
    
      .drrdV {
        flex: 0 0 auto;
        user-select: none;
        margin-bottom: 1.5rem;
        align-self: center;
      }
    
      @media (min-width: 768px) {
        .fNecyQ {
          width: 16rem;
        }
      }
    
      .fNecyQ {
        display: block;
        width: 12rem;
        margin-left: auto;
        margin-right: auto;
      }
    
      img,
      video {
        max-width: 100%;
        height: auto;
      }
    
      .dFeVmo {
        flex: 1 1 0%;
      }
    
      @media (min-width: 640px) {
        .dlUeSf {
          margin-bottom: 0.5rem;
        }
      }
    
      .dlUeSf {
        display: block;
        font-size: 0.75rem;
        line-height: 1rem;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
        --tw-text-opacity: 1;
        color: rgba(62.73, 76.959, 90.27, var(--tw-text-opacity));
      }
    
      .hmhrLa:not([type="checkbox"]):not([type="radio"]) {
        resize: none;
        appearance: none;
        outline: transparent solid 2px;
        outline-offset: 2px;
        width: 100%;
        min-width: 0px;
        padding: 0.75rem;
        border-width: 2px;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        --tw-shadow: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(201.756, 209.1, 216.444, var(--tw-border-opacity));
        --tw-text-opacity: 1;
        color: rgba(51, 64.175, 76.5, var(--tw-text-opacity));
      }
    
    
      [type="text"],
      [type="email"],
      [type="url"],
      [type="password"],
      [type="number"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="search"],
      [type="tel"],
      [type="time"],
      [type="week"],
      [multiple],
      textarea,
      select {
        appearance: none;
        background-color: rgb(255, 255, 255);
        border-color: rgb(107, 114, 128);
        border-width: 1px;
        border-radius: 0px;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    
      .cZROhH {
        margin-top: 1.5rem;
      }
    
      .eWHATQ {
        margin-top: 1.5rem;
      }
    
      .fCEexJ {
        margin-top: 1.5rem;
        text-align: center;
      }
    
      .fFWwUW {
        font-size: 0.75rem;
        line-height: 1rem;
        --tw-text-opacity: 1;
        color: rgba(96.492, 109.211, 122.808, var(--tw-text-opacity));
        letter-spacing: 0.025em;
        text-decoration: none;
        text-transform: uppercase;
      }
    
      .fFcOT {
        text-align: center;
        --tw-text-opacity: 1;
        color: rgba(96.492, 109.211, 122.808, var(--tw-text-opacity));
        font-size: 0.75rem;
        line-height: 1rem;
        margin-top: 1rem;
      }
    
      p {
        --tw-text-opacity: 1;
        color: rgba(201.756, 209.1, 216.444, var(--tw-text-opacity));
        line-height: 1.375;
        font-family: Rubik, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, system-ui, sans-serif;
      }
    
      .eWHATQ {
        margin-top: 1.5rem;
      }
    
      .gzrAQh {
        position: relative;
        display: inline-block;
        border-radius: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        font-size: 0.875rem;
        line-height: 1.25rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        --tw-bg-opacity: 1;
        background-color: rgba(8.772, 102.925, 210.528, var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(4.59, 80.172, 179.01, var(--tw-border-opacity));
        border-width: 1px;
        --tw-text-opacity: 1;
        color: rgba(229.5, 245.65, 255, var(--tw-text-opacity));
        padding: 1rem;
        width: 100%;
      }
    
      [type=button],
      [type=reset],
      [type=submit],
      button {
        -webkit-appearance: button;
      }
    
      textarea,
      select,
      input,
      button,
      button:focus,
      button:focus-visible {
        outline: transparent solid 2px;
        outline-offset: 2px;
      }
    
      .cZROhH {
        margin-top: 1.5rem;
      }

      .fNCLyU {
        margin-bottom: 0.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    @media (min-width: 1024px){
    .hEbrIt {
        display: inline-flex;
    }}
    
    .brfJKd {
        padding: 0.5rem;
        border-width: 1px;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1.25rem;
        border-radius: 0.25rem;
        display: flex;
        width: 100%;
        font-size: 0.875rem;
        --tw-text-opacity: 1;
        color: rgba(255,255,255,var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgba(207.57,16.83,35.904,var(--tw-bg-opacity));
        --tw-border-opacity: 1;
        border-color: rgba(138.516,4.284,26.656,var(--tw-border-opacity));
    }
    
    .endIRo {
        display: flex;
        border-radius: 9999px;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        line-height: 1;
        font-weight: 700;
        margin-right: 0.75rem;
        --tw-bg-opacity: 1;
        background-color: rgba(225.038,45.2625,57.2475,var(--tw-bg-opacity));
    }